$navbar-breakpoint: 0px;

$desktop: 960px;
$widescreen: 1152px;
$fullhd: 1152px;

.sv__copy-block {
  max-width: 800px !important;

  img {
    display: block;
    margin: 0 auto;
    max-width: 400px;
  }
}

@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/bulma";